################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AutoConnectWifi/v15/Server/sqlite3
/.vs/AutoConnectWifi/v15/.suo
/.vs/AutoConnectWifi/v16
/bin
/obj